.profile__content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: baseline;
    margin-left: 30px;
    overflow: hidden;
}

@media screen and (max-width:650px) {
    .profile__content {
        margin-top: 26px;
        margin-left: 0px;
        width: 282px;
    }
}
