.header__logo {
    width: 142px;
    height: 33px;
    margin: 0 ;
    transition: opacity .3s linear;
}

.header__logo:hover {
    opacity: .7;
    transition: .3s linear;
}

@media screen and (max-width:350px) {
    .header__logo {
        width: 103px;
        height: 24px;
    }
}