.profile__picture-cross {
    width: 28px;
    height: 28px;
    position: relative;
    top: 4px;
}



@media screen and (max-width: 650px) {
    .profile__picture-cross {
        width: 22px;
        height: 22px;
    }
}