.authorization__input {
    outline: 0;
    margin-top: 30px;
    background-color: black;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    padding-bottom: 13px;
}

.authorization__input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
}

.authorization__input:first-child {
    margin-top: 50px;
}