.profile__avatar-container {
    position: relative;
    overflow: hidden;
    width: 121px;
    height: 121px;
    border-radius: 48%;
    
}

.profile__avatar-container::after {
    position: absolute;
    top: 47px;
    bottom: 0;
    left: 47px;
    right: 0;
    content: "";
    background: url(../../../image/VectorBackgroundAvatar.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
    z-index: -2;
    animation-name: avatar-hover-of;
    animation-duration: .5s;
    transition: .5s linear;
}

.profile__avatar-container:hover::after {
    animation-name: avatar-hover-on;
    animation-duration: .5s;
    z-index: 2;
}

.profile__avatar-container::before {
    border-radius: 48%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s linear;
}

.profile__avatar-container:hover::before {
    transition: .5s linear;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

@keyframes avatar-hover-on {
    from {
        opacity: .1;
        transform: scale(0.1) rotateZ(200deg);
    }

    to {
        transform: scale(0.99);

    }
}

@keyframes avatar-hover-of {
    from {
        transform: scale(0.99);
    }

    to {
        opacity: .1;
        transform: scale(0.01) rotateZ(180deg);
    }
}