.popup__form-input {
    margin-top: 13px;
    width: 98%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: solid 0;
    border-bottom: solid 1px #E5E5E5;
    padding: 0;
    padding-bottom: 13px;
    outline: none;
}