.popup__picture-zoom-cards {
    max-width: 75vw;
    max-height: 75vh;
}

@media screen and (max-width:320px) {
    .popup-zoom-cards__picture {
        max-width: 240px;
        max-height: 299px;
    }
}