.header__burger {
    width: 69%;
    margin: 0 auto 27px;
    padding: 40px 0 40px;
    text-align: center;
    border-bottom: solid 1px #545454;
}

@media screen and (max-width:460px) {
    .header__burger {
        width: 100%;
    }
}